{% extends 'base.html' %}
{% load static %}
{% block title %} Prodict List {% endblock title %}

{% block content %}

<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
						<h4 class="text-blue h4">Data Table Simple</h4>
						<p class="mb-0">you can find more options <a class="text-primary" href="https://datatables.net/" target="_blank">Click Here</a></p>
					</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">Name</th>
									<th>Color</th>
									<th>Size</th>
									<th>Prize</th>
									<th>Quantity</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
                                 {% for i in p_list %}
								<tr>
                                   
									<td class="table-plus">{{ i.p_name }}</td>
									<td> {{i.p_color}} </td>
									<td> {{i.p_size}} </td>
									<td>$ {{i.p_prize}} </td>
									<td> {{ i.p_qty }} </td>
									<td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
												<a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
												<a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
											</div>
										</div>
									</td>

                                    
								</tr>
                                {% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- Simple Datatable End -->

    <div>
    <script src="{% static 'vendors/scripts/core.js' %}"></script>
	<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
	<script src="{% static 'vendors/scripts/process.js' %}"></script>
	<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
	<!-- buttons for Export datatable -->
	<script src="{% static 'src/plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'src/plugins/datatables/js/vfs_fonts.js' %}"></script>
	<!-- Datatable Setting js -->
	<script src="{% static 'vendors/scripts/datatable-setting.js' %}"></script></body>
    </div>

{% endblock content %}