{% extends 'base.html' %}
{% load static %}
{% block title %} Product Details {% endblock title %}

{% block content %}


<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="title">
							<h4>Product Detail</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Product Detail</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<div class="product-wrap">
				<div class="product-detail-wrap mb-30">
					<div class="row">

						{% for i in p_detail %}

						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="product-slider slider-arrow">
								<div class="product-slide">
									<img src="{{ i.p_photo.url }}" alt="">
								</div>


								{% comment %}
								<div class="product-slide">
									<img src="{% static 'vendors/images/product-img2.jpg' %}" alt="">
								</div>
								<div class="product-slide">
									<img src="{% static 'vendors/images/product-img3.jpg' %}" alt="">
								</div>
								<div class="product-slide">
									<img src="{% static 'vendors/images/product-img4.jpg' %}" alt="">
								</div>
								{% endcomment %}


							</div>
							<div class="product-slider-nav">
								<div class="product-slide-nav">
									<img src="{% static 'vendors/images/product-img1.jpg' %}" alt="">
								</div>
								<div class="product-slide-nav">
									<img src="{% static 'vendors/images/product-img2.jpg' %}" alt="">
								</div>
								<div class="product-slide-nav">
									<img src="{% static 'vendors/images/product-img3.jpg' %}" alt="">
								</div>
								<div class="product-slide-nav">
									<img src="{% static 'vendors/images/product-img4.jpg' %}" alt="">
								</div>
							</div>



						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="product-detail-desc pd-20 card-box height-100-p">
								<h4 class="mb-20 pt-20"> {{i.p_name}} </h4>
								<p>{{ i.p_description }}</p>
								<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
								<div class="price">
									<del>${{ i.p_fee }}</del><ins>$49.5</ins>
								</div>
								<div class="mx-w-150">
									<div class="form-group">
										<label class="text-blue">quantity</label>
										<input id="demo3_22" type="text" value="1" name="demo3_22">
									</div>
								</div>


								<div class="row">
									<div class="col-md-6 col-6">
										<a href="#" class="btn btn-primary btn-block">Add To Cart</a>
									</div>

									<div class="col-md-6 col-6">
										<a href="#" class="btn btn-outline-primary btn-block">Buy Now</a>
									</div>

									
								</div><br>


								<div class="row">
									<div class="col-md-6 col-6">
										<a href="{% url 'deleteproduct' i.id %}"
											class="btn btn-outline-primary btn-block">Delet</a>
									</div>

									<div class="col-md-6 col-6">
										<a href="{% url 'editproduct' i.id %}" 
											class="btn btn-outline-primary btn-block">Edit</a>
									</div>

									<div class="col-md-6 col-6">

										<div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg"
											tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
											aria-hidden="true" style="display: none;">
											<div class="modal-dialog modal-lg modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" id="myLargeModalLabel">Upload New
															Product</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">×</button>
													</div>

													<div class="modal-body">

														<form action="" method="post" enctype="multipart/form-data">

															{% csrf_token %}

															{{ fm }}

															<br>


															<input type="submit" name="" id="" value="Upload Product"
																class="form-control btn btn-success">

														</form>

													</div>






												</div>
											</div>
										</div>

									</div>
								</div>


								<div class="modal fade bs-example-modal-lg" id="bd-example-modal-lg" tabindex="-1"
									role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
									style="display: none;">
									<div class="modal-dialog modal-lg modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">Upload New Product</h4>
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">×</button>
											</div>

											<div class="modal-body">

												<form action="" method="post" enctype="multipart/form-data">

													{% csrf_token %}

													{{ fm }}

													<br>


													<input type="submit" name="" id="" value="Upload Product"
														class="form-control btn btn-success">

												</form>

											</div>






										</div>
									</div>
								</div>



							</div>
						</div>

						{% endfor %}
					</div>
				</div>










				<h4 class="mb-20">Recent Product</h4>
				<div class="product-list">
					<ul class="row">
						<li class="col-lg-4 col-md-6 col-sm-12">
							<div class="product-box">
								<div class="producct-img"><img src="{% static 'vendors/images/product-img1.jpg' %}"
										alt=""></div>
								<div class="product-caption">
									<h4><a href="#">Gufram Bounce Black</a></h4>
									<div class="price">
										<del>$55.5</del><ins>$49.5</ins>
									</div>
									<a href="#" class="btn btn-outline-primary">Read More</a>
								</div>
							</div>
						</li>
						<li class="col-lg-4 col-md-6 col-sm-12">
							<div class="product-box">
								<div class="producct-img"><img src="{% static 'vendors/images/product-img2.jpg' %}"
										alt=""></div>
								<div class="product-caption">
									<h4><a href="#">Gufram Bounce White</a></h4>
									<div class="price">
										<del>$75.5</del><ins>$50</ins>
									</div>
									<a href="#" class="btn btn-outline-primary">Add To Cart</a>
								</div>
							</div>
						</li>
						<li class="col-lg-4 col-md-6 col-sm-12">
							<div class="product-box">
								<div class="producct-img"><img src="{% static 'vendors/images/product-img3.jpg' %}"
										alt=""></div>
								<div class="product-caption">
									<h4><a href="#">Contrast Lace-Up Sneakers</a></h4>
									<div class="price">
										<ins>$80</ins>
									</div>
									<a href="#" class="btn btn-outline-primary">Add To Cart</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit
				Hingarajiya</a>
		</div>
	</div>
</div>

<!-- js -->
<script src="{% static 'vendors/scripts/core.js' %}"></script>
<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
<script src="{% static 'vendors/scripts/process.js' %}"></script>
<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>


<!-- Slick Slider js -->
<script src="{% static 'src/plugins/slick/slick.min.js' %}"></script>
<!-- bootstrap-touchspin js -->
<script src="{% static 'src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script>
	jQuery(document).ready(function () {
		jQuery('.product-slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			infinite: true,
			speed: 1000,
			fade: true,
			asNavFor: '.product-slider-nav'
		});
		jQuery('.product-slider-nav').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			asNavFor: '.product-slider',
			dots: false,
			infinite: true,
			arrows: false,
			speed: 1000,
			centerMode: true,
			focusOnSelect: true
		});
		$("input[name='demo3_22']").TouchSpin({
			initval: 1
		});
	});
</script>

{% endblock content %}